---
import Container from '#components/Container.astro'
---

<Container as="footer">
  <p>
    &copy; {new Date().getFullYear()}. Powered by <a
      href="https://astro.build"
      target="_blank"
      rel="noopener noreferrer">Astro</a
    > and CVfolio.
  </p>
</Container>
