---
import '#styles/global.css'
import { type Seo } from '#lib/constants'
import Header from '#components/partials/Header.astro'
import Footer from '#components/partials/Footer.astro'
import Head from '#components/partials/Head.astro'

interface Props {
  seo?: Seo
}

const { seo } = Astro.props
---

<html lang="en">
  <Head seo={seo} />
  <body class="h-dvh flex flex-col">
    <Header />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
