---
import { render, type CollectionEntry } from 'astro:content'

interface Props {
  entry: CollectionEntry<'talks'>
}

const { entry } = Astro.props
const { Content } = await render(entry)
---

<li>
  <div>
    <div>
      <span>{entry.data.year}</span>
    </div>
    <div>
      <div>
        <span>{entry.data.title}</span>
        <span>{entry.data.event}, {entry.data.location}</span>
      </div>
      <div>
        <Content />
      </div>
    </div>
  </div>
</li>
